body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  color: #222;
  max-width: 38rem;
  padding: 0 1rem;
  margin: 4rem auto;
}

a {
  color: #0074D9; 
}

code {
  background: #eff2f4;
  padding: 3px;
  font-size: 1.1em;  
}

ul {
  padding:0;
}

@media (max-width: 480px) {
   body {
     padding: 0 1rem;
     margin: auto;
   }
 }
