body {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	font-family: 'Inter', sans-serif;
	color: #222;
}

a {
  color: #222; 
}

a:hover {
  color: #888;
  text-decoration: underline;
}

h1 {
  font-size: 8em;
}


