body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  color: #222;
  margin: auto;
}

a {
  color: #222; 
}

a:hover {
  color: #888;
  text-decoration: underline;
}

h1 {
  font-size: 8em;
}


